.nextPage-preloader {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: space(3);
    background: $white;
    display: block;
    justify-content: center;
    align-items: center;
    background-image: url("https://jor.pensoft.net/i/simple_loading.gif");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.article {
    padding-bottom: space(0);

    &__header {
        min-height: 50vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 space(2);
    }
    &__title {
        font-size: $fs-xl;
        font-weight: bold;
        font-stretch: condensed;
        text-transform: uppercase;
        line-height: 1;
        text-align: center;
        margin-bottom: space(3);
    }
    .vertical {
        margin-bottom: space(0.5);
    }
    &__author {
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: 0.4px;
    }
    &__content {
        p {
            font-size: $fs-base;
            line-height: 1.5;
            padding: 0 space(2);
            margin-bottom: space(2);
        }
        blockquote {
            margin-top: space(8);
            margin-bottom: space(8);

            h2 {
                border-top: 1px solid #000;
                padding: space(0.5) 0 0 0;
                margin-left: space(2);
                margin-right: space(2);
            }
        }

        p + h2 {
            margin-bottom: space(3);
            padding-top: space(4);
        }
        p + figure {
            margin-top: space(4);
        }
        figure + h2 {
            margin-top: space(8);
        }
    }
    .image {
        margin-bottom: space(3);
        background: $light-gray;
    }
    h2 {
        padding: 0 space(2);
        margin-bottom: space(3);
        font-size: 24px;
        font-weight: bold;
        font-stretch: condensed;
        text-transform: uppercase;
        line-height: 1;
    }
}
