.article-carousel {
    background: $white;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq(sm) {
        min-height: auto;
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $black;

        padding: space(4) space(2) space(4) space(2);
        margin-right: space(2);
        margin-left: space(2);
    }
    &__title {
        text-transform: uppercase;
        letter-spacing: 0.5px;
        max-width: 60vw;
        text-align: center;
        line-height: 1.2;
    }

    &__items {
        overflow: auto;
        white-space: nowrap;
        padding-left: space(2);
        padding-right: space(2);
        padding-bottom: space(3);
        scroll-snap-type: x mandatory;
        &:-webkit-scrollbar {
            display: none;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 50vw;
        display: inline-block;
        margin-right: space(1);
        scroll-snap-align: center;
        &:last-child {
            margin-right: 0;
        }
    }
    &__inner {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow: auto;
    }
    &__footer {
        text-align: center;
        text-transform: uppercase;
        text-decoration: underline;
    }
}
