.bottom-nav {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    transform: translateY(0%);
    opacity: 1;
    transition: transform 200ms ease-in, opacity 200ms;
    &__inner {
        background: $white;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 6px 23px 0 rgba(0, 0, 0, 0.09);
        border-radius: 0px;
        padding: space(2) 0;
    }
    &__item {
        padding: 0 space(3);
        background: transparent;
        border: none;
        font-size: inherit;
    }
    &--hidden {
        transform: translateY(80px);
        opacity: 1;
    }
}
