.card {
    // margin-bottom: space(4);
    padding: 0;

    &--quote {
        height: 100%;
        min-height: 50vh;
        @include mq(sm) {
            min-height: unset;
        }
        .card__inner {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: space(0) space(2) space(0) space(2);
            @include mq(sm) {
                padding: 0;
            }
        }
        .card__title {
            font-size: $fs-xl;
            font-weight: bold;
            font-stretch: condensed;
            line-height: 1.35;
            // text-align: center;
            padding-top: 13vh;
            // flex: 1;
            // display: flex;
            // align-items: center;
            border-top: 1px solid #000;
            @include mq(xl) {
                font-size: 64px;
                line-height: 0.9;
                padding-top: space(1);
            }
            .highlight {
                border-bottom: 3px solid #000;
            }
        }
    }
    &__image {
        background: $light-gray;
        img {
            object-fit: cover;
        }
    }
    &__title {
        line-height: 1.3;
        letter-spacing: 0.4px;
        text-transform: uppercase;
        margin-bottom: space(2);
    }
    &__inner {
        padding: space(2) space(2) 0 space(2);
        @include mq(sm) {
            padding: space(2) space(2) 0 0;
        }
    }
    &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__actions {
        svg {
            margin-left: space(2);
        }
    }

    .share {
        border-bottom: 1px solid #000;
        text-transform: uppercase;
    }

    &__quote {
        font-size: $fs-xl;
        font-weight: bold;
        font-stretch: condensed;
        text-transform: uppercase;
        line-height: 1;
        padding: 0 space(2);
    }
    .alice-carousel__stage-item {
        height: 0;
        padding-top: 125%;
        background: $light-gray;
    }
    .slide-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0;
        top: 0;
    }
    .alice-carousel__dots {
        position: absolute;
        bottom: space(0);
        left: 50%;
        transform: translateX(-50%);
        &-item {
            background: transparent;
            border: 1px solid $white;
            &.__active {
                border: 1px solid $white;
                background: $white;
            }
        }
    }
}
.fade-appear {
    opacity: 0;

    transition: opacity 400ms ease-out;
}
.fade-appear-active {
    opacity: 1;
}
.fade-appear-done {
    opacity: 1;
}
