.container {
    width: 100%;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    @include mq(sm) {
        padding: 0 space(2);
    }
    @include mq(lg) {
        padding: 0 space(3);
    }
}
