.marquee {
    &--image {
        .ticker {
            &__element {
                img {
                    width: 100px;
                    height: 70px;
                    margin: 0 24px;
                }
            }
        }
    }
}

.ticker {
    margin-bottom: space(0);

    border-top: 1px solid $black;
    border-bottom: 1px solid $black;

    &__element {
        p {
            font-size: 14px;
            text-transform: uppercase;
            white-space: nowrap;
            margin: 12px 4px 14px 0px;
        }
    }
}
