.marquee {
    &--image {
        .ticker {
            &__element {
                img {
                    width: 100px;
                    height: 70px;
                    margin: 0 24px;
                }
            }
        }
    }
}

.ticker {
    color: white;
    font-family: Arial, Helvetica, sans-serif;

    &__element {
        height: 48px;
        p {
            margin: 14px 0px 12px 0px;
            span {
                margin-right: 32px;
                font-size: 14px;
                text-transform: uppercase;
                letter-spacing: 0.5px;
                white-space: nowrap;
                height: 19px;
            }
        }
    }
}
