.discover {
    .button-group {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 69px;

        padding: 0 16px;
        background: $white;
        border-bottom: 1px solid $black;
        .button {
            &:first-child {
                border-right: none;
            }
        }
    }
    .open-filter {
        right: 0;
        width: 50%;

        min-height: 40px;
    }
    .open-search {
        min-height: 40px;
        width: 50%;
    }
    .grid {
        margin: 0 -1px;
    }
    .grid__item {
        padding: 0;
        border-right: 1px solid $black;
        border-bottom: 1px solid $black;
        &:nth-child(5n) {
            width: 100%;
        }
    }
}
