.button {
    min-height: 48px;
    padding: 0 space(2);
    text-transform: uppercase;
    letter-spacing: 0.4px;
    &--primary {
        background: $black;
        color: $white;
    }
    &--sticky {
        position: fixed;
        bottom: 16px;
        left: 0;
        right: 0;
        width: calc(100% - 32px);
        margin: 0 auto;
        display: block;
    }
}
