* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: "Univers", sans-serif;
    line-height: 1.5;
    min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-size: 100%;
    font-weight: normal;
}

ul,
li {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    font-size: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    &:visited,
    &:focus {
        text-decoration: none;
    }
}
img {
    width: 100%;
}
