//Colors
$black: #000000;
$white: #ffffff;
$light-gray: #fafafa;

//Layout
$max-width: 1280px;

//Typography
$fs-base: 17px;
$fs-xl: 32px;

//--------------------------
// Breakpoints
//--------------------------
$sm: 560px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

$header-height: 60px;
